body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    height: 200px;
    background-color: #a3d2d5;
  
  }
  .header {
    position: relative;
    text-align: center;
    color: #a3d2d5;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:rgba(163,210,213,0.6);
    width: 400px;
    color:black;
    padding:50px;

    font-weight: bold;
  }
  
  .header-text{
      margin-left: 30px;
      margin-right: 30px;
      line-height: 1.7;
  }
  
    /* Style the top navigation bar */
    .navbar {
      color: white;
      overflow: hidden; /* Hide overflow */
      background-color: #6AA5A9; /* Dark background color */
      size: 100vh;
      top: 0;
    }
  
      /* Style the navigation bar links */
      .navbar a {
          float: left; /* Make sure that the links stay side-by-side */
          display: block; /* Change the display to block, for responsive reasons (see below) */
          color: white; /* White text color */
          text-align: center; /* Center the text */
          padding: 14px 20px; /* Add some padding */
          text-decoration: none; /* Remove underline */
          align-self: right;
        }
  
          /* Change color on hover/mouse-over */
    .navbar a:hover {
      background-color: #a3d2d5; /* Grey background color */
      color: #45625d; /* Black text color */
    }
  
      /* Right-aligned link */
      .navbar a.right {
          float: right; /* Float a link to the right */
        }
  
    /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 700px) {
      .row {
        flex-direction: column;
      }
    }

    .tools{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 5%;
      align-items: center;
      margin-top: 100px;
    }

    .crisis-rectangle {
        margin: 1%;
        padding:1%;
        background:#6AA5A9;
        box-shadow: -24px -24px 2px 1px #40797D ;
        color: white;
        width:500px;
        font-family: 'Inter';
        padding-left: 3%;
        padding-right: 3%;
      }

      .crisis-lines {
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: space-around;
        margin: 7%;
      }

      .digital-literacy{
        margin: 3%;
        padding:1%;
        width:500px;
        font-family: 'Inter';
        padding-left: 3%;
        padding-right: 3%;
        color: white;

        background: #6AA5A9;
        border-radius: 30px;
      }

      .mental-health{
        margin: 3%;
        padding:1%;
        width:500px;
        font-family: 'Inter';
        padding-left: 3%;
        padding-right: 3%;
        color: white;

        background: #77B6BA;
        border-radius: 30px;
      }

      .healthy-habits{
        margin: 3%;
        padding:1%;
        width:500px;
        font-family: 'Inter';
        padding-left: 3%;
        padding-right: 3%;
        color: white;

        background: #87C3C7;
        border-radius: 30px;
      }