html {
  min-height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: aliceblue;
    height: 100vh;
}

.header {
    color: white;
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background:url("city-photo.jpeg"); /* green background */
    background-size: 100%;
    height: 100vh;
    position: relative;
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 60px;
  }

  .header .overlay {
    position:absolute;
    background:rgba(255,255,255,0.7);
    top:250px;
    left:50%;
    transform:translate(-50%,-50%);
    padding:10px;
    text-align:center;
  }

  .header .overlay h1 {
    font-family:arial;
    text-align:center;
    font-weight:normal;
    color:#777;
  }

  .header .overlay p {
    background:#aaa;
    color:#fff;
    font-size:16px;
    border:none;
    padding:10px 30px;
  }

  /* Style the top navigation bar */
.navbar {
    color: white;
    overflow: hidden; /* Hide overflow */
    background-color: #6AA5A9; /* Dark background color */
    size: 100vh;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    align-self: right;
  }
  
  .overlay {
    background-color: rgba(163, 210, 213, 3);
    color: #45625d;
    opacity: .75;
    width: 500px;
    height: 350px;
    justify-content: center;
  }

  .overlay h2, p {
    background-color: rgba(163, 210, 213, 3);
    color: #45625d;
    opacity: .5;
    width: 500px;
    height: 350px;
    justify-content: center;
  }

  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #a3d2d5; /* Grey background color */
    color: #45625d; /* Black text color */
  }

  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 25%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
    background:url('filler2.jpeg');
    height: 500px;
    width: 300px;
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.contact-us{
  text-align: center;
}

.contact-grid{
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  margin-left: 100px;
  margin-top: 100px;
}

.email{
  border: 2px solid darkblue;
  background-color: aliceblue;
  border-radius: 10px;
  height: 100px;
  width: 500px;
  line-height: 18px;
}

.phone-number{
  border: 2px solid darkblue;
  background-color: aliceblue;
  border-radius: 10px;
  height: 100px;
  width: 500px;
  line-height: 13px;
}

.social-media{
  border: 2px solid darkblue;
  background-color: aliceblue;
  border-radius: 10px;
  height: 100px;
  width: 500px;
}